/*
COLOR PALETTE
    dark gray: rgb(53,53,53);
    earthy green: rgb(60,110,113)
    white: rgb(255,255,255) 
    light gray: rgb(217,217,217) 
    murky blue: rgb(40,75,99)  
*/


html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 5% 26% 6% 26% 6% 26% 5%;
    grid-template-rows: 52% 5% 30% 5% 8%; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem
}

/* links */
a {
    color: rgb(40, 75, 99);
}
a:hover {
    color: rgb(60, 110, 113);
    text-decoration: none;
}
footer a {
    color: rgb(217, 217, 217);
}
footer a:hover {
    color: rgb(40, 75, 99);
}

.content-wrapper {
    grid-column: 2 / span 5;
    grid-row: 1 / span 1;
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    text-align: center;
}


/* HOME
------------------------------------*/
.home {
    background: repeating-linear-gradient(45deg, rgb(40, 75, 99), rgb(53,53,53) 1px );
    background-repeat: no-repeat;
    background-size: cover;
}
/* .home .content-wrapper {
    flex: 1 0 auto;
    
} */
.content-bg {
    color: rgb(53,53,53);
    background: rgb(217, 217, 217);
    padding: 10px 10px;
    border: solid;
    border-color: rgb(53,53,53);
    border-width: 10px;
    border-radius: 20px;
}

.project1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    color: rgb(53,53,53);
    background: rgb(217, 217, 217);
    padding: 30px 10px;
    border: solid;
    border-color: rgb(53,53,53);
    border-width: 10px;
    border-radius: 20px;
    text-align: center;

}

.project2 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    color: rgb(53,53,53);
    background: rgb(217, 217, 217);
    padding: 30px 10px;
    border: solid;
    border-color: rgb(53,53,53);
    border-width: 10px;
    border-radius: 20px;
    text-align: center;

}

.project3 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
    color: rgb(53,53,53);
    background: rgb(217, 217, 217);
    padding: 30px 10px;
    border: solid;
    border-color: rgb(53,53,53);
    border-width: 10px;
    border-radius: 20px;
    text-align: center;

}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 5px;
    }
    .content-bg {
        padding: 5px;
    }
}


/* FOOTER
------------------------------------*/
footer {
    grid-column: 1 / span 7;
    grid-row: 5 / span 1;
    background: rgb(60, 110, 113);
    color: #d3d4d6;
    text-align: center;
    padding: 0px;
    margin: 0px
}

@media screen and (min-width: 860px){
    footer {
        justify-content: space-between;
        padding: 0 0px;
        text-align: center;
    }
}
@media screen and (max-width: 859px){
    footer {
        text-align: center;
        padding: 0px;
        margin: 0px
    }

}